{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
<!--                            <a href="{% url 'admin_products_list' %}" ><button class="btn btn-light rounded font-sm mr-5 text-body hover-up">View Products</button></a>-->
                            <button class="btn btn-md rounded font-sm hover-up">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                                                {% if messages %}
                                                {% for msg in messages %}
                                                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                                        <div class="messages">
                                                            <div style="color: #cc0000;">
                                                                {{ msg }}
                                                            </div>
                                                        </div>
                                                    {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                        <div class="messages">
                                                            <div style="color: #cc0000;">
                                                                {{ msg }}
                                                            </div>
                                                        </div>
                                                    {% elif msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                        <div class="messages">
                                                            <div style="color: #00cc00;">
                                                                {{ msg }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <br>
                    <div class="card mb-4">
                        <div class="card-body">

                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_title" name="product_name">
                                <div id="productTitleError" class="error-message"></div>
                            </div>

                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_brand" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_brand" name="brand_name">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Original price</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_color" name="old_price">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Offer price</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_size" name="price">
                                </div>
                            </div>

                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" name="description"></textarea>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>


                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="preview1" src="#" alt="Image 1" style="width:50px; height:50px; display: none;">
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="file"  name="image1">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="preview2" src="#" alt="Image 2" style="width:50px; height:50px; display: none;">
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="file"  name="image2">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="preview3" src="#" alt="Image 3" style="width:50px; height:50px; display: none;">
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="file" name="image3">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="preview4" src="#" alt="Image 4" style="width:50px; height:50px; display: none;">
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="file" name="image4">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="preview5" src="#" alt="Image 5" style="width:50px; height:50px; display: none;">
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="file" name="image5">
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                              <h5 class="mb-3">Categories</h5>
                            {% for cat in category %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category" value="{{cat.id}}" id="product-cat" >
                                <label class="form-check-label" for="product-cat"> {{cat.category_name}} </label>
                            </div>
                            {% endfor %}

                            <hr>

                            <label for="colors">Colors:</label><br>
                            <input type="radio" name="colors" value="Red"> Red<br>
                            <input type="radio" name="colors" value="Blue"> Blue<br>
                            <input type="radio" name="colors" value="Green"> Green<br>
                            <input type="radio" name="colors" value="Yellow"> Yellow<br>
                            <input type="radio" name="colors" value="Black"> Black<br>
                            <input type="radio" name="colors" value="Violet"> Violet<br>
                            <input type="radio" name="colors" value="Orange"> Orange<br>
                            <input type="radio" name="colors" value="White"> White<br>

                            <hr>

<!--                            <label for="sizes">Sizes:</label><br>-->
<!--                                <input type="radio" name="sizes" value="5"> 5<br>-->
<!--                                <input type="radio" name="sizes" value="6"> 6<br>-->
<!--                                <input type="radio" name="sizes" value="7"> 7<br>-->
<!--                                <input type="radio" name="sizes" value="8"> 8<br>-->
<!--                                <input type="radio" name="sizes" value="9"> 9<br>-->
<!--                                <input type="radio" name="sizes" value="10"> 10<br>-->
<!--                            <hr>-->

                            <div class="mb-4">
                                <label class="form-label">Material</label>
                                <input type="text" placeholder="Type of Material" class="form-control" name="material">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Special features</label>
                                <input type="text" placeholder="Type features" class="form-control" name="features">
                            </div>


                            <hr>


                            <div class="mb-4">
                                <label class="form-label">Fit Type</label>
                                <input type="text" placeholder="Fit Type" class="form-control" name="fit_type">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Shoe Width</label>
                                <input type="text" placeholder="width" class="form-control" name="shoe_width">
                            </div>

                        </div>
                    </div> <!-- card end// -->
                </div>
                </form>
            </div>
        </section>



        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>



<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Add event listeners to all file input fields
    const fileInputs = document.querySelectorAll('input[type="file"]');
    fileInputs.forEach(function(input) {
        input.addEventListener('change', function() {
            const previewId = 'preview' + input.name.slice(-1);
            const preview = document.getElementById(previewId);
            const file = input.files[0];
            const reader = new FileReader();

            reader.addEventListener('load', function() {
                preview.src = reader.result;
                preview.style.display = 'block';
            });

            if (file) {
                reader.readAsDataURL(file);
            }
        });
    });
});

</script>
{% endblock %}